header {
  background: #bbbbbb;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
}
